.footer__column-link {
  /* общий блок линки*/
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  transition: opacity 5s ease;
}
.footer__column-link:hover {
  opacity: 0.3;
}
