.footer__columns {
  /* общий блок с колонками с копирайтом, о практикуме и соцсети*/
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}
