
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  display:flex;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  z-index:1;
  overflow: hidden;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
  z-index: 1;
}
.header__title {
  /*заголовок Научиться учиться*/
  display:flex;
  align-items:center;
  margin:0;
  margin-left: 64px;
  width: 730px;
  font-weight: 600;
  line-height: 96px;
  font-size: 102px;
  z-index: 2;
}
.header__subtitle {
   /*Подзаголовок про современные подходы*/
  position: absolute;
  margin:0;
  width: 388px;
  bottom: 30px;
  left: 64px;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}
.header__link {
  /*стрелка после подписи про современные подходы*/
  color:#2f80ed;
  text-decoration: none;
  transition: opacity 5s ease;

}
.header__link:hover {
  /*стрелка при наведении курсора на нее*/
  opacity: 0.3;
}
.header__main-illustration {
   /*картинка опять двойка*/
  position: absolute;
  margin: 0;
  right: 0px;
  width: 765px;
  height: 608px;
  bottom: 0px;
  z-index: 1;
 }
 .header__square-pic {
   /*синий квадрат*/
  height: 568px;
  width: 568px;
  position:absolute;
  top:64px;
  right:0px;
  background-color: #2f80ed;
  animation: rotation 20s infinite;
  }

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
 }
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief {
  padding-top: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color:#2f80ed;
}
.two-columns__main-text {
  display: flex;
  flex-direction: column;
  min-width: 784px;
  margin: 0;
  padding: 0;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 30px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}
.techniques {
  /*блок техники обучения*/
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}
.cards {
    /*блок техники обучения*/
  justify-content: center;
  display: flex;
  width: 920px;
  margin: 0 auto;
}
.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: center;
}
 .cards__item:first-child {
  margin-right: 100px;
 }
 .cards__item:last-child {
  margin-left: 100px;
 }
.cards__image {
  width: 160px;
  height: 160px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
  border-radius: 160px;
  padding: 0;
}
.cards__title {
 text-align: center;
 padding-bottom: 16px;
 margin: 0;
 line-height: 1.15;
 font-size: 24px;
 font-weight: 600;
}
.cards__description{
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
.video {
  margin-top: 100px;
}
.video__iframes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -60px;
}
.video__iframe {
 height: 316px;
 width: 515px;
}
.video__iframe:first-child {
  margin-right: 20px;
 }
 .oakley {
  margin-top: 160px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0;
  min-height: 890px;
  background-color: #f2f2f2;
  z-index: 0;
}
.feynman__photo {
  position: absolute;
  left: 0px;
  width: 867px;
  height: 637px;
  bottom: 0px;
  z-index: 1;
}
.feynman__title {
 /*заголовок Метод Фейнмана*/
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}
.feynman__subtitle {
/* Метод Фейнмана, Выучить и не забыть*/
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}
.feynman__link {
/* Метод Фейнмана, подробнее и стрелка*/
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
  transition: opacity 5s ease;
}
.feynman__link:hover {
  opacity: 0.3;
}

.digits {
  /*блок про цифры по обучению*/
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  padding-bottom: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0;
  padding-top: 0;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}
.khan__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.khan__author {
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
}
.khan__title {
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 60px;
}
.khan__quote {
  margin: 0;
  width: 790px;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}
.khan__quote-author {
  margin-top: 36px;
  margin-bottom: 10px;
  padding: 0;
  line-height: 1.15;
  font-weight: 600;
  font-size: 24px;
}
.khan__quote-author-subline {
  padding: 0;
  margin-top: 0;
  margin-bottom: 68px;
  line-height: 1.15;
  font-weight: normal;
  font-size: 24px;
}
.khan__book-container {
  display: flex;
  flex-direction: row;
}
.khan__book-pic {
  object-fit: cover;
  width: 620px;
  height: 608px;
  margin-right: 48px;
}
.khan__buy-link {
  /*линк купить книгу в блоке весь мир-школа */
  text-decoration: none;
  color:#2f80ed;
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
  transition: opacity 5s ease;
}
.khan__buy-link:hover {
  opacity: 0.3;
}
.kaufman {
   /*блок Кауфман */
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  color:white;
  z-index: 0;
 }
.section-title_theme_dark {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
 }
.section-subtitle_theme_dark {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table_theme_dark {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  padding-bottom: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top:20px;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  padding: 0;
  margin: 0;
  animation: rotation infinite;
}

.footer {
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
  background-color:#1f1f1f;
  color:white;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__column_content_copyright {
   /* блок с копирайтом*/
  flex-basis: 711px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;

 }
.logo_place_footer {
  /* блок с копирайтом, логотип Яндекс Практикум*/
  height: 32px;
  width: 228px;
}
.footer__author {
  /* блок с автором*/
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-self: auto;

}
.footer__columns {
  /* общий блок с колонками с копирайтом, о практикуме и соцсети*/
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__column {
  /* блок с колонками о практикуме и соцсети*/
  display: flex;
  padding: 0;
  margin: 0;
}
 .footer__column-heading {
  display: flex;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
   /* линки */
   padding-bottom: 16px;
   padding-top: 20px;
   list-style-type: none;
   padding-left: 0;
   margin: 0;
  }
.footer__column-link {
  /* общий блок линки*/
  color:white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
}
.footer__column_content_info {
  /* инфо о практикуме*/
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer__soсial-icon {
  /* блок иконки соц-сетей*/
  margin: 0;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  padding: 0;
}
