.khan__buy-link {
  /*линк купить книгу в блоке весь мир-школа */
  text-decoration: none;
  color:#2f80ed;
  line-height: 42px;
  font-weight: normal;
  font-size: 30px;
  transition: opacity 5s ease;
}
.khan__buy-link:hover {
  opacity: 0.3;
}
